<!DOCTYPE html>
<html lang="bg">
<head>
  <meta charset="UTF-8">
  <title>Шахматна дъска</title>
  <link rel="stylesheet" href="../libs/chessboard-1.0.0.css" />
  <style>
    body {
      margin: 0;
      background: #1e1e1e;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
  </style>
</head>
<body>
  <div id="board" style="width: 100%; max-width: 90vmin;"></div>

  <script src="../libs/chess.min.js"></script>
  <script src="../libs/chessboard-1.0.0.js"></script>
  <script>
    const board = Chessboard('board', {
      position: 'start',
      draggable: true
    });
  </script>
</body>
</html>
